<!DOCTYPE html>
<html>
    <head>
    <title>Test CV</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    
   <!-- <script type="text/javascript" src="regexpTest.js"></script> -->
    </head>
<body>
   
   <div class= 'Bank_NameA' >
    <label class="bank-text">BankA</label>   
   </div>

    <div id='Bankcard'>
    <script type="text/javascript" src="ExchangeRate.js"></script>
    <script>
        window.addEventListener('load', function () {
            init();
        });
    </script>   
    </div>
    <div id="container"></div> 
    <div class= 'Bank_NameK' >
            <label class="bank-text">BankK</label>   
           </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    
      
</body>
</html>